html {
    height:100%;
    min-height:100%;
}
.container {
    padding-top: 100px;
    background-color:#1abc9c;
    min-height: 100%;
    height:auto !important;
    height:100%;
}
.game {
    border:1px solid black;
}

table {
    border-collapse: collapse;
    padding:10px;
}

td {
    position: relative;
    text-align: center;
}

.cell {
    padding:6px;
}

.progress {
    position: relative;
    width: 80%;
}
.btn {
    color: white;
    background: #40d47e;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: none;
    line-height: 22px;
    padding: 10px 30px 10px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}