<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" src="../static/style.css">

    </head>
    
    <body background="../board.jpg">
    <heade>
        <center>
    <div class="container">
        <img src="../static/Relish.png"
        alt="Relish"
        class="title img-responsive">
        <h1>Click on the green tomatos as they appear to make relish!</h1><br><br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active"
            role="progressbar"
            id="timer"
            aria-valuenow="40"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:100%">
                100%
            </div>
        </div>
        <br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active"
            role="progressbar"
            id="completion"
            aria-valuenow="40"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:0%">
                0%
            </div>
        </div>
        <button class="btn"
        type="button"
        onclick="start()">START</button>
        <br><br>

    <header></header>
        <img src="../static/victory.gif"
        id="victory"
        style="display:none">
        <table width="100%" height="550px" id="table">
            <tr>
                <td align="center"><img src="../static/green_tomato.png"
                id="1" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="2" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="3" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="4" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="5" onclick="scoreUp()"></td>
            </tr>
            <tr>
                <td align="center"><img src="../static/green_tomato.png"
                id="6" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="7" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="8" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="9" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="10" onclick="scoreUp()"></td>
            </tr>
            <tr height="20%">
                <td align="center"><img src="../static/green_tomato.png" 
                id="11" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="12" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="13" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="14" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="15" onclick="scoreUp()"></td>
            </tr>
            <tr height="20%">
                <td align="center"><img src="../static/green_tomato.png" 
                id="16" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="17" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="18" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="19" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="20" onclick="scoreUp()"></td>
            </tr>
            <tr height="20%">
                <td align="center"><img src="../static/green_tomato.png" 
                id="21" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="22" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="23" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="24" onclick="scoreUp()"></td>
                <td align="center"><img src="../static/green_tomato.png" 
                id="25" onclick="scoreUp()"></td>
            </tr>
        </table>
        </div>
        </center>
        </div>
        <script src="../static/relish.js"></script>
    </body>
</html>